<h1>Boilerplate Marionette subapp module</h1>
<p>This is a subapp defined using submodules functionality in Marionette.js.</p>
<ul>
  <li><a href="/">Back home...</a></li>
</ul>

<h2>Moving forward from here...</h2>
<p>This demonstration ends here, with boilerplate covering the basic concept of working with submodules in Marionette.js app. To move forward, explore the Marionette.js reference application <a href="http://bbclonemail.herokuapp.com/">BBCloneMail</a> (having its <a href="https://github.com/marionettejs/bbclonemail">source available</a> on Github).</p>
